/*
=========================================
Container Breakpoint
=========================================
*/
@media (min-width: 1600px) {
  .container {
    max-width: 1640px;
  }
}

/*
=========================================
Responsive Breakpoint
=========================================
*/
@media (max-width: 1876px) {
  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /* --- Getaway Section --- */
  .getaway-right .getaway-right-title {
    font-size: 5rem;
  }
}

@media (max-width: 1799px) {
  :root {
    --size-xxl: 17rem;
    --size-xl: 8rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /*---- Header ----*/
  .navBar .mobile-menu-wrapper {
    background: -webkit-gradient(
        linear,
        left top, right top,
        color-stop(58%, rgba(30, 47, 37, 0.9)),
        color-stop(42%, rgba(69, 94, 79, 0.8))
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: -o-linear-gradient(
        left,
        rgba(30, 47, 37, 0.9) 58%,
        rgba(69, 94, 79, 0.8) 42%
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: linear-gradient(
        to right,
        rgba(30, 47, 37, 0.9) 58%,
        rgba(69, 94, 79, 0.8) 42%
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
  }
  .mobile-menu-wrapper .mobile-menu-row {
    margin-left: -10rem;
    margin-right: -10rem;
  }
  .mobile-menu-wrapper .mobile-menu-row > * {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  /* --- Guests Testimonials --- */
  .guests-testimonials-wrapper .guests-testimonials-logo {
    max-width: 35rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /*---- Hero Section ----*/
  .home-hero-wrapper .home-hero-text .home-hero-text-title {
    font-size: 10rem;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-section {
    padding: 16rem 0 14rem;
  }

  /* 
	===============================================================
	Start Wedings Page Responsive
	===============================================================
	*/
  .brides-testimonials-wrapper {
    padding: 20rem 0 21.6rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  .events-hero-text .events-hero-text-title-and {
    font-size: 30rem;
  }

  /* 
	===============================================================
	Start 404 Page Responsive
	===============================================================
	*/
  .error-hero-text .error-hero-text-title {
    font-size: 30rem;
  }
  .error-hero-text .error-hero-text-title-2 {
    font-size: 4rem;
  }
  .error-hero-text .error-hero-text-desc {
    font-size: 2rem;
  }
}

@media (max-width: 1599px) {
  :root {
    --size-xxl: 15rem;
    --size-xl: 6rem;
    --size-lg: 6rem;
  }

  .text-space-md {
    letter-spacing: 0.5rem;
    word-spacing: 0.2rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /*---- Header ----*/
  .mobile-menu-logo-row {
    margin-bottom: 5rem;
  }
  .navBar .mobile-menu-wrapper {
    background: -webkit-gradient(
        linear,
        left top, right top,
        color-stop(57%, rgba(30, 47, 37, 0.9)),
        color-stop(43%, rgba(69, 94, 79, 0.8))
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: -o-linear-gradient(
        left,
        rgba(30, 47, 37, 0.9) 57%,
        rgba(69, 94, 79, 0.8) 43%
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: linear-gradient(
        to right,
        rgba(30, 47, 37, 0.9) 57%,
        rgba(69, 94, 79, 0.8) 43%
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
  }
  .mobile-menu-wrapper .mobile-menu-row {
    margin-left: -6rem;
    margin-right: -6rem;
  }
  .mobile-menu-wrapper .mobile-menu-row > * {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item
    .menu-link-text {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
  .mobile-menu-contact .mobile-menu-contact-desc p,
  .mobile-menu-social1 .mobile-menu-social-item1 :is(span, a) {
    font-size: 1.8rem;
  }

  /* ----- Button ----- */
  .btn-bg {
    height: 5rem;
    font-size: 1.6rem;
  }
  .btn-small {
    min-width: 22rem;
  }

  /* --- Guests Testimonials --- */
  .guests-testimonials-slider-container {
    padding-left: 6rem;
    padding-right: 14rem;
  }
  .guests-testimonials-slider-text p {
    font-size: 3rem;
  }
  .guests-testimonials-slider-btn-wrapper {
    bottom: 5rem;
  }

  /* ----- Footer ----- */
  .footer-logo p,
  .footer-contact .contact-social1 .contact-social-item1 :is(span, a) {
    font-size: 1.7rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /*---- Hero Section ----*/
  .home-hero-wrapper .home-hero-text .home-hero-text-title {
    font-size: 8rem;
  }

  /* --- Gallery Section --- */
  .home-gallery .home-gallery-text .home-gallery-title {
    font-size: 5rem;
  }

  /* --- Relax Section --- */
  .relax-text {
    max-width: 48.5rem;
  }
  .relax-text .relax-text-bg {
    margin-top: -8rem;
    max-width: 44rem;
  }

  /* --- Dining Section --- */
  .home-dining-text {
    max-width: 46.6rem;
  }

  /* --- Rooftop Bar Section --- */
  .home-rooftop-bar-text {
    max-width: 46.6rem;
  }

  /* 
	===============================================================
	Start Accommodations Page Responsive
	===============================================================
	*/
  /*-- Rooms Slider Resuseble Style --*/
  .superior-text-wrapper {
    max-width: 47.6rem;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-section {
    padding: 16rem 0 12rem;
  }
  .dine-text .dine-title {
    font-size: 10rem;
    margin-top: -4.5rem;
  }

  /* --- Dining Section --- */
  .dine-dining-text {
    max-width: 46.6rem;
  }

  /* --- Rooftop Bar Section --- */
  .dine-rooftop-bar-text {
    max-width: 46.6rem;
  }

  /* --- Culinary Team --- */
  .culinary-team-right-title {
    margin-top: 3rem;
    margin-left: -3rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  /* --- Hero Section --- */
  .events-hero-text .events-hero-text-title-and {
    font-size: 25rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  /* --- History Section --- */
  .history-section {
    padding-bottom: 8rem;
  }

  /* 
	===============================================================
	Start 404 Page Responsive
	===============================================================
	*/
  .error-hero-wrapper {
    margin-top: 7rem;
  }
  .error-hero-text .error-hero-text-title {
    font-size: 25rem;
  }
  .error-hero-text .error-hero-text-title-2 {
    font-size: 3rem;
  }
  .error-hero-text .error-hero-text-desc {
    font-size: 1.8rem;
  }
}

@media (max-width: 1399px) {
  :root {
    --size-xxl: 12rem;
    --size-lg: 5rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /*---- Header ----*/
  .navBar .mobile-menu-wrapper {
    background: -webkit-gradient(
        linear,
        left top, right top,
        color-stop(58.5%, rgba(30, 47, 37, 0.9)),
        color-stop(41.5%, rgba(69, 94, 79, 0.8))
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: -o-linear-gradient(
        left,
        rgba(30, 47, 37, 0.9) 58.5%,
        rgba(69, 94, 79, 0.8) 41.5%
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: linear-gradient(
        to right,
        rgba(30, 47, 37, 0.9) 58.5%,
        rgba(69, 94, 79, 0.8) 41.5%
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
  }
  .mobile-menu-wrapper .mobile-menu-row {
    margin-left: -6rem;
    margin-right: -6rem;
  }
  .mobile-menu-wrapper .mobile-menu-row > * {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item:not(:last-child) {
    margin-bottom: 5rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item
    .menu-link-text {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .mobile-menu-contact .mobile-menu-contact-desc .directions-link img {
    margin-top: -0.4rem;
  }
  .mobile-menu-contact .mobile-menu-contact-desc p,
  .mobile-menu-social1 .mobile-menu-social-item1 :is(span, a) {
    font-size: 1.5rem;
  }
  .mobile-menu-contact-desc {
    margin-top: 5rem;
  }
  .mobile-menu-social1 {
    margin: 6rem 0 3rem;
  }
  .mobile-menu-social1 .mobile-menu-social-item1:not(:last-child) {
    margin-bottom: 2rem;
  }

  /* ----- Button ----- */
  .btn-bg {
    height: 5rem;
    font-size: 1.5rem;
  }
  .btn-small {
    min-width: 20rem;
  }

  /* ----- Check In ----- */
  .check-in-datepicker1 {
    padding-right: 2rem;
  }
  .check-in-datepicker2,
  .check-in-select-data {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .check-in-submit-box {
    padding-left: 2rem;
  }
  .check-in-main-select {
    font-size: 6rem;
  }

  /* --- Guests Testimonials --- */
  .guests-testimonials-slider-container {
    padding-left: 4rem;
    padding-right: 12rem;
  }
  .guests-testimonials-wrapper .guests-testimonials-logo {
    max-width: 20rem;
  }
  .guests-testimonials-slider-text p {
    font-size: 2.5rem;
  }
  .guests-testimonials-slider-bottom-left-text p:nth-child(1) {
    font-size: 1.8rem;
  }
  .guests-testimonials-slider-text p {
    font-size: 2rem;
  }
  .guests-testimonials-slider-btn-wrapper {
    bottom: 3.8rem;
  }

  .guests-testimonials-slider-bottom-left {
    margin-top: 6rem;
  }

  /* ----- Newsletter ----- */
  .newsletter-form .newsletter-form-name {
    font-size: 3rem;
  }
  .newsletter-form-btn {
    margin-top: 4rem;
  }

  /* ----- Footer ----- */
  .footer-logo p,
  .footer-contact .contact-social1 .contact-social-item1 :is(span, a) {
    font-size: 1.4rem;
  }
  .footer-page-link .footer-page-link-item a {
    font-size: 1.2rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /* --- Getaway Section --- */
  .getaway-right {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* --- Relax Section --- */
  .relax-text {
    max-width: 40.5rem;
  }
  .relax-text .relax-text-bg {
    margin-top: -7rem;
    max-width: 38rem;
  }

  /* --- Dining Section --- */
  .home-dining-text {
    max-width: 42.6rem;
  }

  /* --- Rooftop Bar Section --- */
  .home-rooftop-bar-text {
    max-width: 42.6rem;
  }

  /* 
	===============================================================
	Start Accommodations Page Responsive
	===============================================================
	*/
  /*-- Rooms Slider Resuseble Style --*/
  .superior-text-wrapper {
    max-width: 42.6rem;
  }
  .margin-top-minus {
    margin-top: -1.8rem;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-section {
    padding: 16rem 0 8rem;
  }
  .dine-text .dine-title {
    font-size: 8rem;
    margin-top: -4rem;
  }

  /* --- Dining Section --- */
  .dine-dining-text {
    max-width: 42.6rem;
  }

  /* --- Rooftop Bar Section --- */
  .dine-rooftop-bar-text {
    max-width: 42.6rem;
  }

  /* --- Culinary Team --- */
  .culinary-team-right-title {
    margin-top: 2rem;
    margin-left: -2rem;
  }

  /* 
	===============================================================
	Start Weddings Page Responsive
	===============================================================
	*/
  .weddings-text .weddings-text-btn,
  .weddings-cakes-text .weddings-cakes-text-btn {
    min-width: 22rem;
  }
  /* --- Weddings Section --- */
  .weddings-text {
    max-width: 100%;
  }
  .weddings-img-col {
    position: static;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }

  /* --- Brides Testimonials --- */
  .brides-testimonials-wrapper {
    padding: 17rem 0 18.6rem;
  }
  .brides-testimonials .brides-testimonials-desc {
    font-size: 3rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  /* --- Hero Section --- */
  .events-hero-text .events-hero-text-title-and {
    font-size: 20rem;
  }

  /* --- Events Section --- */
  .events-text .events-text-btn {
    min-width: 22rem;
  }
  .events-img-col {
    position: static;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }

  /* 
	===============================================================
	Start 404 Page Responsive
	===============================================================
	*/
  .error-hero-wrapper {
    margin-top: 8rem;
  }
  .error-hero-text .error-hero-text-title {
    font-size: 20rem;
  }
  .error-hero-text .error-hero-text-desc {
    font-size: 1.6rem;
  }
}

@media (max-width: 1199px) {
  :root {
    --size-xxl: 10rem;
    --size-xl: 5rem;
    --size-lg: 4rem;
  }

  .desc-mb-50 {
    margin-bottom: 3.5rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /* ----- Header ----- */
  .navBar .header-btn .menu-open-btn {
    padding: 0 3rem;
  }
  .navBar .header-btn .reserve-btn,
  .navBar .header-btn .menu-open-btn {
    font-size: 1.3rem;
  }
  .navBar .header-btn .menu-open-btn img {
    width: 2.5rem;
  }
  .mobile-menu-wrapper .mobile-menu-row {
    margin-left: -4rem;
    margin-right: -4rem;
  }
  .mobile-menu-wrapper .mobile-menu-row > * {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item:not(:last-child) {
    margin-bottom: 4rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item
    .menu-link-text {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  .mobile-menu-contact .mobile-menu-contact-desc .directions-link img {
    margin-top: -0.3rem;
  }
  .mobile-menu-contact .mobile-menu-contact-desc p,
  .mobile-menu-social1 .mobile-menu-social-item1 :is(span, a) {
    font-size: 1.3rem;
  }
  .mobile-menu-contact-desc {
    margin-top: 3rem;
  }
  .mobile-menu-social1 {
    margin: 3.5rem 0 1.5rem;
  }
  .mobile-menu-social1 .mobile-menu-social-item1:not(:last-child) {
    margin-bottom: 2rem;
  }
  .nav-check-in-datepicker-wrapper {
    padding-right: 1.5rem;
  }
  .nav-check-in-select {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .header-btn {
    padding-left: 1.5rem;
  }

  /* ----- Check In ----- */
  .check-in-section {
    padding-bottom: 23rem;
  }
  .check-in-datepicker1 {
    padding-right: 2rem;
  }
  .check-in-datepicker2,
  .check-in-select-data {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .check-in-submit-box {
    padding-left: 2rem;
  }
  .check-in-main-select {
    font-size: 5rem;
  }
  .check-in-select-data p,
  .check-in-datepicker p {
    font-size: 1.1rem;
  }

  /* --- Guests Testimonials --- */
  .guests-testimonials-wrapper {
    padding: 5rem;
  }
  .guests-testimonials-slider-container {
    padding-left: 4rem;
    padding-right: 12rem;
  }
  .guests-testimonials-wrapper .guests-testimonials-logo {
    max-width: 20rem;
  }
  .guests-testimonials-slider-text p {
    font-size: 2.5rem;
  }
  .guests-testimonials-slider-bottom-left-text p:nth-child(1) {
    font-size: 1.8rem;
  }
  .guests-testimonials-slider-text p {
    font-size: 2rem;
  }
  .guests-testimonials-slider-btn-wrapper {
    bottom: 3.8rem;
  }
  .guests-testimonials-slider-bottom-left hr {
    margin-left: 4rem;
  }

  /* ----- Footer ----- */
  .footer-contact .contact-social1 {
    margin-top: 5rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /*---- Hero Section ----*/
  .home-hero-wrapper .home-hero-text .home-hero-text-title {
    font-size: 7rem;
  }

  /* --- Getaway Section --- */
  .getaway-right-title-text {
    margin-left: -13rem;
  }
  .getaway-right-col {
    margin-top: 4rem;
    position: static;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  .getaway-right {
    padding: 4rem;
  }

  /* --- Gallery Section --- */
  .home-gallery .home-gallery-text .home-gallery-title {
    font-size: 4rem;
  }

  /* --- Relax Section --- */
  .relax-text .relax-text-bg {
    margin-top: -6rem;
    max-width: 32rem;
  }

  /* --- Dining Section --- */
  .home-dining-text-img1 {
    margin-bottom: 2rem;
  }
  .home-dining-text-img1 img {
    max-width: 20rem;
  }
  .home-dining-text-img2 {
    margin-bottom: 2rem;
  }
  .home-dining-text-img2 img {
    max-width: 30rem;
  }

  .home-dining-text .home-dining-text-desc {
    margin-bottom: 2rem;
  }

  /* --- Rooftop Bar Section --- */
  .home-rooftop-bar-text .home-rooftop-bar-text-img {
    max-width: 20rem;
    margin-bottom: 2.5rem;
  }

  .home-rooftop-bar-text .home-rooftop-bar-text-desc {
    margin-bottom: 2rem;
  }

  /* 
	===============================================================
	Start Accommodations Page Responsive
	===============================================================
	*/
  /*-- Rooms Slider Resuseble Style --*/
  .superior-text-wrapper {
    max-width: 35rem;
  }
  .margin-top-minus {
    margin-top: -1.4rem;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-text .dine-title {
    font-size: 5rem;
    margin-top: -3.5rem;
  }

  /* --- Dining Section --- */
  .dine-dining-text-img1 {
    margin-bottom: 2rem;
  }
  .dine-dining-text-img1 img {
    max-width: 20rem;
  }
  .dine-dining-text-img2 {
    margin-bottom: 2rem;
  }
  .dine-dining-text-img2 img {
    max-width: 30rem;
  }
  .dine-dining-text .dine-dining-text-desc {
    margin-bottom: 2rem;
  }

  /* --- Rooftop Bar Section --- */
  .dine-rooftop-bar-text .dine-rooftop-bar-text-img {
    max-width: 20rem;
    margin-bottom: 2.5rem;
  }
  .dine-rooftop-bar-text .dine-rooftop-bar-text-desc {
    margin-bottom: 2rem;
  }

  /* --- Culinary Team --- */
  .culinary-team-name-text {
    padding-right: 0rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  /* --- Hero Section --- */
  .events-hero-text .events-hero-text-title-and {
    font-size: 17rem;
  }

  /* 
	===============================================================
	Start Masters Page Responsive
	===============================================================
	*/
  /* --- Masters Section --- */
  .masters-text {
    max-width: 100%;
  }
  .masters-img-col {
    position: static;
  }

  /* 
	===============================================================
	Start History Page Responsive
	===============================================================
	*/
  /* --- Experience Section --- */
  .history-experience-img .history-experience-img-title {
    font-size: 3rem;
  }

  /* 
	===============================================================
	Start Contact Page Responsive
	===============================================================
	*/
  /* --- Contact Section --- */
  .address-info .address-info-text {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  :root {
    --size-xl: 4rem;
  }
  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /*---- Header ----*/
  .navBar .header-btn .reserve-btn {
    max-width: 16rem;
  }
  .navBar .header-btn .menu-open-btn {
    max-width: 13rem;
  }
  .mobile-menu-logo-row {
    margin-bottom: 5rem;
  }
  .mobile-menu-wrapper .mobile-menu-row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .mobile-menu-wrapper .mobile-menu-row > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navBar .header-logo .header-logo-svg {
    max-width: 14rem;
  }
  .navBar .mobile-menu-wrapper {
    background: -webkit-gradient(
        linear,
        left top, right top,
        from(rgba(30, 47, 37, 0.9)),
        to(rgba(69, 94, 79, 0.8))
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: -o-linear-gradient(
        left,
        rgba(30, 47, 37, 0.9),
        rgba(69, 94, 79, 0.8)
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
    background: linear-gradient(
        to right,
        rgba(30, 47, 37, 0.9),
        rgba(69, 94, 79, 0.8)
      ),
      url("../images/reuse-image/header/mobile-menu-bg.png") no-repeat top /
        cover;
  }
  .mobile-menu-contact {
    margin-top: 5rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2 img {
    max-width: 9rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:nth-child(2) a img {
    max-width: 4rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:nth-child(3) a img {
    max-width: 2rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:nth-child(4) a img {
    max-width: 3rem;
  }
  .header-btn {
    padding-left: 0;
  }

  /* ----- Slider BTN ----- */
  .slider-btn-wrapper .slider-btn1 {
    margin-right: 3rem;
  }

  /* ----- Check In ----- */
  .check-in-section {
    padding-bottom: 31rem;
  }
  .check-in-select {
    width: 33.33%;
  }
  .check-in-submit {
    margin-top: 2rem;
    width: 100%;
  }
  .check-in-submit-btn {
    height: 6rem !important;
  }
  .check-in-datepicker1 {
    padding-right: 1.5rem;
  }
  .check-in-datepicker2,
  .check-in-select-data {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .check-in-submit-box {
    padding-left: 1.5rem;
  }
  .check-in-submit-btn {
    max-width: 100%;
  }
  .check-in-main-select {
    font-size: 4rem;
  }
  .check-in-select-data p,
  .check-in-datepicker p {
    font-size: 1.1rem;
  }

  /* --- Guests Testimonials --- */
  .guests-testimonials-wrapper {
    padding: 5rem 3rem;
  }
  .guests-testimonials-slider-container {
    padding-left: 0rem;
    padding-right: 8rem;
  }

  .guests-testimonials-wrapper .guests-testimonials-logo {
    max-width: 18rem;
  }
  .guests-testimonials-slider-text p {
    font-size: 2.5rem;
  }
  .guests-testimonials-slider-bottom-left-text p:nth-child(1) {
    font-size: 1.6rem;
  }
  .guests-testimonials-slider-text p {
    font-size: 1.8rem;
  }
  .guests-testimonials-slider-btn-wrapper {
    bottom: 3.5rem;
  }
  .guests-testimonials-slider-bottom-left hr {
    margin-left: 3rem;
  }

  /* ----- Newsletter ----- */
  .newsletter-title .newsletter-form-title {
    font-size: 3rem;
  }

  /* ----- Footer ----- */
  .footer-page-link .footer-page-link-item:not(:last-child) {
    margin-bottom: 3rem;
  }
  .contact-social2 .contact-social-item2 img {
    max-width: 9rem;
  }
  .contact-social2 .contact-social-item2:nth-child(2) a img {
    max-width: 4rem;
  }
  .contact-social2 .contact-social-item2:nth-child(3) a img {
    max-width: 2rem;
  }
  .contact-social2 .contact-social-item2:nth-child(4) a img {
    max-width: 3rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /*---- Hero Section ----*/
  .home-hero-wrapper .home-hero-text .home-hero-text-title {
    font-size: 5rem;
  }

  /*---- Getaway Section ----*/
  .getaway-right .getaway-right-title {
    font-size: 4rem;
  }
  .getaway-right-title-text {
    margin-top: 1rem;
    margin-left: -10rem;
  }

  /* --- Gallery Section --- */
  .home-gallery .home-gallery-text .home-gallery-title {
    font-size: 3rem;
  }

  /* --- Relax Section --- */
  .relax-text,
  .relax-text .relax-text-desc {
    max-width: 100%;
  }

  /* --- Dining Section --- */
  .home-dining-text {
    max-width: 100%;
  }
  .home-dining-btn .home-dining-btn1 {
    margin-bottom: 0rem;
  }

  /* ----- Rooftop Bar ----- */
  .home-rooftop-bar-text {
    max-width: 100%;
  }

  /* 
	===============================================================
	Start Accommodations Page Responsive
	===============================================================
	*/
  /*-- Rooms Slider Resuseble Style --*/
  .superior-text-wrapper {
    max-width: 100%;
    margin-bottom: 4rem;
  }

  .accessible-rooms-text,
  .accessible-rooms-text .accessible-rooms-text-desc {
    max-width: 100%;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-text,
  .dine-text .dine-text-desc {
    max-width: 100%;
  }
  .dine-text .dine-title {
    font-size: 5rem;
    margin-top: -3.5rem;
  }
  .dine-img-col {
    right: 0;
    position: relative;
  }
  .dine-img-title {
    left: 2rem;
  }

  /* --- Dining Section --- */
  .dine-dining-text {
    max-width: 100%;
  }
  .dine-dining-btn .dine-dining-btn1 {
    margin-bottom: 0rem;
  }

  /* ----- Rooftop Bar ----- */
  .dine-rooftop-bar-text {
    max-width: 100%;
  }

  /* --- Food Menu Item --- */
  .food-manu-item-name,
  .food-manu-item-slider-btn {
    top: 3rem;
  }

  /* --- Gallery --- */
  .dining-gallery-title {
    margin-bottom: 5rem;
  }

  /* --- Culinary Team --- */
  .culinary-team-name-desc-wrapper {
    margin-top: 5rem;
  }

  /* 
	===============================================================
	Start Weddings Page Responsive
	===============================================================
	*/
  /* --- Food Menu Item Section --- */
  .weddings-food-manu-item-name,
  .weddings-food-manu-item-slider-btn {
    top: 2rem;
  }

  /* --- Food Gallery Section --- */
  .weddings-gallery-title {
    margin-bottom: 5rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  /* --- Gallery Section --- */
  .events-gallery-title {
    margin-bottom: 5rem;
  }

  /* 
	===============================================================
	Start History Page Responsive
	===============================================================
	*/
  /* --- History Section --- */
  .history-text {
    max-width: 100%;
  }
  .history-img-col {
    position: static;
  }

  /* --- Experience Section --- */
  .history-experience-title {
    margin-bottom: 5rem;
  }

  /* 
	===============================================================
	Start Gallery Page Responsive
	===============================================================
	*/
  /* --- Hero Section --- */
  .gallery-page-select-wrapper {
    padding-right: 2rem;
  }
  .slider-btn-info-wrapper {
    padding-left: 2rem;
  }

  /* 
	===============================================================
	Start 404 Page Responsive
	===============================================================
	*/
  .error-hero-wrapper {
    margin-top: 6rem;
  }
  .error-hero-text .error-hero-text-title {
    font-size: 14rem;
  }
  .error-hero-text .error-hero-text-title-2 {
    font-size: 2.2rem;
  }
  .error-hero-text .error-hero-text-desc {
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  :root {
    --size-xxl: 6rem;
    --size-xl: 3rem;
    --size-md: 1.8rem;
  }
  .py-160 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .pt-160 {
    padding-top: 10rem;
  }
  .pb-160 {
    padding-bottom: 10rem;
  }
  .py-80 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .pt-80 {
    padding-top: 5rem;
  }
  .pb-80 {
    padding-bottom: 5rem;
  }

  .text-space-sm {
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
  }

  .hero-logo {
    max-width: 13rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /*---- Header ----*/
  .mobile-menu-logo-row {
    margin-bottom: 3rem;
  }
  .navBar .header-logo .header-logo-svg {
    max-width: 12rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item:not(:last-child) {
    margin-bottom: 3rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item
    .menu-link-number {
    margin-right: 1.5rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:not(:last-child) {
    margin-right: 4rem;
  }

  /* ----- Button ----- */
  .btn-bg {
    font-size: 1.3rem;
    height: 4rem;
  }

  /* ----- Check In ----- */
  .check-in-section {
    padding-bottom: 34rem;
  }
  .check-in-select {
    margin-top: 4rem;
    width: 33.33%;
  }
  .check-in-select-data1 {
    padding-left: 0;
  }
  .check-in-submit-box {
    padding-left: 0rem;
  }

  /* ----- Newsletter ----- */
  .newsletter-form-btn {
    margin-top: 2rem;
  }

  /* ----- Footer ----- */
  .footer-logo p,
  .footer-contact .contact-social1 .contact-social-item1 :is(span, a) {
    font-size: 1.3rem;
  }
  .footer-page-link .footer-page-link-item a {
    font-size: 1.2rem;
  }
  .footer-bottom-text li a,
  .footer-bottom-text li p {
    font-size: 1.2rem !important;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /*---- Getaway Section ----*/
  .getaway-right .getaway-right-title {
    font-size: 3rem;
  }
  .getaway-right-title-text {
    margin-left: -8rem;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-section {
    padding: 10rem 0 5rem;
  }

  /* --- Food Menu Item --- */
  .food-manu-item-name,
  .food-manu-item-slider-btn {
    top: 2rem;
  }

  /* --- Culinary Team --- */
  .culinary-team-name-desc-wrapper {
    margin-top: 3rem;
  }
  .culinary-team-name-text .culinary-team-name-text-title {
    font-size: 3rem;
  }
  .culinary-team-right-title {
    margin-left: -1.5rem;
  }

  /* 
	===============================================================
	Start Wedings Page Responsive
	===============================================================
	*/
  /* --- Brides Testimonials --- */
  .brides-testimonials-wrapper {
    padding: 12rem 0 13.6rem;
  }
  .brides-testimonials .brides-testimonials-desc {
    font-size: 2.5rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  .events-hero-text .events-hero-text-title-and {
    font-size: 12rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  /* --- History Section --- */
  .history-section {
    padding-bottom: 5rem;
  }

  /* 
	===============================================================
	Start History Page Responsive
	===============================================================
	*/
  /* --- Experience --- */
  .history-experience-img .history-experience-img-title {
    font-size: 2.7rem;
  }

  /* 
	===============================================================
	Start Gallery Page Responsive
	===============================================================
	*/
  /* --- Hero Section --- */
  .gallery-page-slider-bottom {
    padding-bottom: 1rem;
  }

  .gallery-page-select-wrapper {
    padding-right: 0rem;
  }
  .slider-btn-info-wrapper {
    padding-left: 0rem;
  }
  .gallery-page-slider-bottom-border::after {
    display: none;
  }
  .gallery-slider-btn-next-text {
    margin-right: 2rem;
  }

  /* 
	===============================================================
	Start Contact Page Responsive
	===============================================================
	*/
  /* --- Contact Section --- */
  .address-info .address-info-text {
    font-size: 2.5rem;
  }

  /* 
	===============================================================
	Start Press Page Responsive
	===============================================================
	*/
  /* --- Text Section --- */
  .press-text .press-text-link {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  :root {
    --size-xxl: 5rem;
    --size-md: 1.7rem;
  }

  .py-160 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .pt-160 {
    padding-top: 8rem;
  }
  .pb-160 {
    padding-bottom: 8rem;
  }
  .py-80 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pt-80 {
    padding-top: 4rem;
  }
  .pb-80 {
    padding-bottom: 4rem;
  }

  .hero-logo {
    max-width: 10rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /*---- Header ----*/
  .transparent-header {
    top: 2rem;
  }
  .sticky-menu {
    top: 0;
  }
  .navBar .header-logo .header-logo-svg {
    max-width: 11rem;
  }
  .navBar .header-btn .reserve-btn,
  .navBar .header-btn .menu-open-btn {
    font-size: 1.2rem;
  }
  .navBar .header-btn .reserve-btn {
    max-width: 15rem;
    margin-right: 1.5rem;
  }
  .navBar .header-btn .menu-open-btn {
    max-width: 12rem;
  }
  .navBar .header-btn .menu-open-btn img {
    width: 2rem;
  }
  .navBar .mobile-menu-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .mobile-menu-logo-row {
    margin-bottom: 2rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .mobile-menu-wrapper
    .mobile-menu
    .mobile-main-menu
    .menu-item
    .menu-link-text {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
  .mobile-menu .mobile-main-menu > li:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  /* ----- Slider BTN ----- */
  .slider-btn-wrapper .slider-btn:first-child {
    margin-right: 1.5rem;
  }

  /*----- Border -----*/
  .h-line {
    margin: 0 2rem;
  }

  /* ----- Check In ----- */
  .check-in-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .check-in-wrapper {
    position: static;
  }

  /* --- Guests Testimonials --- */
  .guests-testimonials-bg-top {
    padding: 4rem 0;
  }
  .guests-testimonials-wrapper {
    padding: 5rem 2rem;
  }
  .guests-testimonials-slider-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .guests-testimonials-slider-bottom-left {
    margin-top: 4rem;
  }
  .guests-testimonials-slider-btn-wrapper {
    position: static;
    margin-bottom: 4rem;
  }
  .guests-testimonials-slider-btn-wrapper hr {
    margin-left: 0;
  }

  /* ----- Newsletter ----- */
  .newsletter-title .newsletter-form-title {
    font-size: 2.5rem;
  }
  .newsletter-close {
    margin-bottom: 4rem;
  }
  .newsletter-form .newsletter-form-name {
    font-size: 2.5rem;
  }
  .newsletter-form-input::-webkit-input-placeholder {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .newsletter-form-input::-moz-placeholder {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .newsletter-form-input:-ms-input-placeholder {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .newsletter-form-input::-ms-input-placeholder {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .newsletter-form-input::placeholder {
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  /* ----- Footer ----- */
  .footer-page-link,
  .footer-contact {
    margin-top: 2rem;
  }
  .footer-logo .directions-link {
    margin-top: 4rem;
  }
  .footer-page-link .footer-page-link-item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .contact-social2 .contact-social-item2:not(:last-child) {
    margin-right: 3rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /*---- Hero Section ----*/
  .home-hero-wrapper .home-hero-text .home-hero-text-title {
    font-size: 4rem;
  }

  /*---- Getaway Section ----*/
  .getaway-right {
    padding: 3rem 2rem;
  }

  /* --- Gallery Section --- */
  .home-gallery .home-gallery-text .home-gallery-title {
    font-size: 2.5rem;
  }

  /*---- Relax Section ----*/
  .relax-slider-btn-area a {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-section {
    padding: 4rem 0 4rem;
  }

  /* --- Food Menu Item --- */
  .food-manu-item-slider .food-manu-item-name {
    font-size: 1.6rem;
  }

  /* --- Culinary Team --- */
  .culinary-team-slider {
    margin-bottom: 2rem;
  }

  .culinary-team-slider-btn .culinary-team-slider-next {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /* 
	===============================================================
	Start Wedings Page Responsive
	===============================================================
	*/
  /* --- Brides Testimonials --- */
  .brides-testimonials-wrapper {
    padding: 10rem 0 11.6rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  .events-hero-text .events-hero-text-title-and {
    font-size: 10rem;
  }

  /* 
	===============================================================
	Start History Page Responsive
	===============================================================
	*/
  /* --- History Section --- */
  .history-section {
    padding-bottom: 4rem;
  }

  /* --- Experience --- */
  .history-experience-img .history-experience-img-title {
    font-size: 2.5rem;
  }

  /* 
	===============================================================
	Start Contact Page Responsive
	===============================================================
	*/
  /* --- Contact Section --- */
  .address-info .address-info-text {
    font-size: 2rem;
  }

  /* 
	===============================================================
	Start Press Page Responsive
	===============================================================
	*/
  /*------------- 
  Hero Section
  ------------------------------
  */
  .perss-hero-section {
    padding: 16rem 0 5rem;
  }

  /* --- Text Section --- */
  .press-text .press-text-link {
    font-size: 1.8rem;
  }

  /* 
	===============================================================
	Start 404 Page Responsive
	===============================================================
	*/
  .error-hero-wrapper {
    margin-top: 6rem;
  }
  .error-hero-text .error-hero-text-title {
    font-size: 13rem;
  }
  .error-hero-text .error-hero-text-title-2 {
    font-size: 1.8rem;
  }
  .error-hero-text .error-hero-text-desc {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  :root {
    --size-xxl: 4rem;
  }

  .hero-logo {
    max-width: 9rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  /*----- Header ------*/
  .navBar .header-btn .reserve-btn {
    display: none;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:not(:last-child) {
    margin-right: 3rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2 img {
    max-width: 8rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:nth-child(2) a img {
    max-width: 3rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:nth-child(3) a img {
    max-width: 1rem;
  }
  .mobile-menu-social2 .mobile-menu-social-item2:nth-child(4) a img {
    max-width: 2rem;
  }

  /* ----- Check In ----- */
  .check-in-wrapper {
    padding: 3rem 2rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /*---- Getaway Section ----*/
  .getaway-right-main-content {
    display: block !important;
  }
  .getaway-right-title-text {
    margin-top: 2rem;
    margin-left: 0rem;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* --- Gallery --- */
  .dining-gallery-title {
    margin-bottom: 3rem;
  }

  /* --- Culinary Team --- */
  .culinary-team-name-text .culinary-team-name-text-title {
    font-size: 2.5rem;
  }
  .culinary-team .culinary-team-text p {
    font-size: 1.2rem;
  }

  /* 
	===============================================================
	Start Wedings Page Responsive
	===============================================================
	*/
  /* --- Food Gallery Section --- */
  .weddings-gallery-title {
    margin-bottom: 3rem;
  }

  /* --- Brides Testimonials --- */
  .brides-testimonials .brides-testimonials-desc {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  /* 
	===============================================================
	Start Events Page Responsive
	===============================================================
	*/
  /* --- Hero Section --- */
  .events-hero-text .events-hero-text-title-and {
    font-size: 8rem;
  }

  /* --- Gallery Section --- */
  .events-gallery-title {
    margin-bottom: 3rem;
  }

  /* 
	===============================================================
	Start History Page Responsive
	===============================================================
	*/
  /* --- Experience Section --- */
  .history-experience-title {
    margin-bottom: 3rem;
  }

  /* 
	===============================================================
	Start History Page Responsive
	===============================================================
	*/
  /* --- Experience --- */
  .history-experience-img .history-experience-img-title {
    font-size: 2rem;
  }

  /* 
	===============================================================
	Start Gallery Page Responsive
	===============================================================
	*/
  /* --- Hero Section --- */
  .gallery-page-select-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }

  /* 
	===============================================================
	Start Press Page Responsive
	===============================================================
	*/
  /* --- Text Section --- */
  .press-text {
    display: block !important;
  }
  .press-text .press-text-link {
    display: table;
    font-size: 1.6rem;
  }

  /* 
	===============================================================
	Start 404 Page Responsive
	===============================================================
	*/
  .error-hero-wrapper {
    margin-top: 5rem;
  }
  .error-hero-text .error-hero-text-title {
    font-size: 10rem;
  }
}

@media (max-width: 375px) {
  :root {
    --size-lg: 3rem;
  }

  /* 
	===============================================================
	Reuseble Components Responsive
	===============================================================
	*/
  .check-in-wrapper {
    padding: 3rem 1rem;
  }
  .check-in-select-data p,
  .check-in-datepicker p {
    font-size: 1rem;
  }
  .check-in-main-select {
    font-size: 3rem;
  }
  .check-in-datepicker2,
  .check-in-select-data {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* 
	===============================================================
	Start Home Page Responsive
	===============================================================
	*/
  /* --- Gallery Section --- */
  .home-gallery .home-gallery-text .home-gallery-title {
    font-size: 2rem;
  }

  /* --- Relax Section --- */
  .relax-text .relax-text-bg {
    margin-top: -5rem;
    max-width: 100%;
  }

  /* --- Dining Section --- */
  .home-dining-text-img2 img {
    max-width: 100%;
  }

  /* 
	===============================================================
	Start Dining Page Responsive
	===============================================================
	*/
  /* ---- Dine ---- */
  .dine-text .dine-title {
    font-size: 5rem;
    margin-top: -2.5rem;
  }

  /* --- Dining Section --- */
  .dine-dining-text-img2 img {
    max-width: 100%;
  }

  /* --- Culinary Team --- */
  .culinary-team-right-title {
    margin-left: -2rem;
  }

  /* 
	===============================================================
	Start History Page Responsive
	===============================================================
	*/
  /* --- Experience --- */
  .history-experience-img .history-experience-img-title {
    font-size: 1.8rem;
  }
}