/* 
=====================================
Variables
=====================================
*/
:root {
  /*___________ Font Family ___________*/
  --primary-font-600: "Poppins 600";
  --primary-font-400: "Poppins 400";
  --secondary-font-800: "Nostromo Regular 800";
  /*____________ Font Size ____________*/
  --larger-title: 20rem;
  --large-title: 20rem;
  --medium-title: 20rem;
  --small-title: 20rem;
  --smaller-title: 20rem;
  --size-xxl: 4.2rem;
  --size-xl: 2.9rem;
  --size-lg: 2rem;
  --size-md: 1.8rem;
  --size-sm: 1.6rem;
  --size-xxm: 1.4rem;
  /*____________ Text Color ____________*/
  --primary-color: #656565;
  --secondary-color: #b68e4b;
  --third-color: #ffffff;
  --four-color: #262626;
  /*__________ Body BG Color __________*/
  --body-bg: #ffffff;
  /*_____________ BG Color _____________*/
  --primary-bg: #455e4f;
  --secondary-bg: #efefef;
  --third-bg: #ffffff;
  /*___________ BTN BG Color ___________*/
  --btn-bg: #b68e4b;
  --btn-hover-bg: #455e4f;
  /*___________ Overlay Color ___________*/
}

/* 
200-266,220(use- ___ page-)
180-112(use- ___ page-)
120-159(use- ___ page-)
100-12,160(use- ___ page-)
80-100,106,80(use- ___ page-)
60-80(use- ___ page-)
40-60,48,53,26(use- ___ page-)
24-29,26(use- ___ page-)
20-60,40,26,24,40(use- ___ page-)
16-19(use- ___ page-)
14-18(use- ___ page-)
*/
/* 
=====================================
Variables
=====================================
*/

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font-400);
  font-size: var(--size-sm);
  color: var(--primary-color);
  background-color: var(--body-bg);
  line-height: 1.6;
  overflow-x: hidden;
}

/* 
==================================
Bacic Setup
==================================
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--four-color);
  color: var(--secondary-color);
}

::selection {
  background-color: var(--four-color);
  color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #d9d5d5;
}

::-webkit-scrollbar-thumb {
  background-color: #4c5158;
  height: 6rem;
}

a,
span,
label {
  display: inline-block;
}

ul li {
  list-style: none;
}

a,
a:focus {
  text-decoration: none;
}

button:focus,
input:focus,
textarea:focus,
button,
input,
textarea {
  outline: 0;
  border: 0;
}

button,
input,
textarea {
  background-color: transparent;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}

.tran-linear {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a,
button,
img,
.tran-ease-in-out {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.min-height-100vh {
  min-height: 100vh;
}

/* 
===============================
PRELOADER
===============================
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: var(--third-color);
  width: 100%;
  height: 100vh;
}

.preloader-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.preloader-img {
  width: 5rem;
  margin: auto;
  animation: scale 1s infinite linear;
  -webkit-animation: scale 1s infinite linear;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  75% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  75% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.disppear {
  -webkit-animation: vanish 1s forwards;
  animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* 
===============================
Back to top Btn
===============================
*/
#scroll-up-btn {
  opacity: 0;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 99;
  background: var(--btn-bg);
  width: 4rem;
  height: 4rem;
}

#scroll-up-btn img {
  width: 2rem;
  height: 2rem;
}

/* 
===================================
Font Family
===================================
*/
.primary-font-600 {
  font-family: var(--primary-font-600);
}

.primary-font-400 {
  font-family: var(--primary-font-400);
}

.secondary-font-800 {
  font-family: var(--secondary-font-800);
}

/* 
===================================
Font Size
===================================
*/
.size-xxl {
  font-size: var(--size-xxl);
  line-height: 1.4;
}

.size-xl {
  font-size: var(--size-xl);
  line-height: 1.4;
}

.size-lg {
  font-size: var(--size-lg);
  line-height: 1.4;
}

.size-md {
  font-size: var(--size-md);
  line-height: 1.4;
}

.size-sm {
  font-size: var(--size-sm);
  line-height: 1.4;
}

.size-xsm {
  font-size: var(--size-xsm);
  line-height: 1.4;
}

/* 
===================================
Text Color
===================================
*/
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

.four-color {
  color: var(--four-color);
}

/* 
===================================
Background Color
===================================
*/
.primary-bg {
  background-color: var(--primary-bg);
}

.secondary-bg {
  background-color: var(--secondary-bg);
}

.third-bg {
  background-color: var(--third-bg);
}

/* 
================================================
================================================
Start Reuseble Components
================================================
*/

/* 
================================================
End Reuseble Components
================================================
================================================
*/

/* 
=========================================
Start Header Section
=========================================
*/
.transparent-header {
  position: absolute;
  top: 2.8rem;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/*
----------------
Sticky Menu
----------------
*/
.stick {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: fixed;
  top: 0;
  background-color: var(--four-color);
  z-index: 9999;
  -webkit-animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* 
=========================================
End Header Section
=========================================
*/

/* 
=========================================
Start Section
=========================================
*/

/* 
=========================================
End Section
=========================================
*/
