/* 
========================================================
Variables
========================================================
*/
:root {
  --size-xxl: 20rem;
  --size-xl: 10rem;
  --size-lg: 8rem;
}


/* 
200-266[huge],220[1](use-huge ___ page-all) ***** (line-height: 266)
100-12[5],60[2](use-7 ___ page-2) ***** (line-height: 12)
80-100[23],106[],80[1](use-24 ___ page-8) ***** (line-height: 100)
20-60[],40[1],26[17],24[2],40[](use-19 ___ page-8) ***** (line-height: 26)
16-19[](use- ___ page-) *****
14-18[4](use- ___ page-) *****
---------------------------------------------------------------
----------------------------- *** ----------------------------
180-112[1],12[1](strat(3number page)use-2 ___ page-1) delete
120-159[1](use-1 ___ page-1) delete
60-80[3](strat(6number page)use-3 ___ page-2) inc 6page delete
40-60[1],48[],53[1],26[],24[1](strat(3number page)use-3 ___ page-3) inc 6page delete
24-29[],26[4]((strat 4 number page) use-4 ___ page-3) delete
*/
/* 

/* 
Garamond Premier Pro = 400, display --- 
Josefin Sans = 400, light --- , light Italic--> missing
Zapfino = 400 missing
*/